<h1>About and other interesting things</h1>
<p>Find me in here:app/views/pages/about.html.erb</p>
<ul>
  <li>twenty-one</li>
  <li>thirtyfour</li>
  <li>fortythree!</li>
</ul>
<p>lists are still lovely :) </p>
